<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Scegli l'esercizio:</h1>
    <a href="/es1">1. Testo</a>
    <a href="/es2">2. Testo</a>
    <a href="/es3">3. Testo</a>
    <a href="/es4">4. Testo</a>
    <a href="/es5">5. Testo</a>
    <a href="/es6">6. Testo</a>
    <a href="/es7">7. Testo</a>
    <a href="/es8">8. Testo</a>
    <a href="/es9">9. Testo</a>
</body>
</html>